@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

div.background-content {
  clip-path: polygon(50% 0%, 100% 0, 100% 42%, 0 54%, 0 0);
  position: absolute;
  background-color: #242424;
  width: 100%;
  height: 130%;
  z-index: -1;
  

  img {

    width: 100%;
    opacity: 0.3;
    filter:saturate(2) contrast(1);

  }
}
body {
  background-color: #00f2ce;
  font-family: "Comfortaa", cursive;
  padding: 0;
  margin: 0;

  .nav{
    background-color: #242424;

    nav {
      background-color:#f1f1f1;
      padding: 0.5em;
      display: flex;
      justify-content: center;
      flex-flow: row;
      position: fixed;
      width: 100%;
      
  
      div.navbar-nav {
        display: none;
        position: absolute;
      }
  
      .logo-nav {
        display: inline-block;
        position: relative;
        margin-top: 1em;
  
        .nav-link {
          color: #242424;
          font-size: 2em;
          font-style: oblique;
          font-weight: 900;


  
          #logo-icon {
            display: none;
          }
        }
      }
    }

  }
  

  div.content {
    padding: 3em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: #242424 solid;
    

    div.hero-container {
      color: #f1f1f1;

      div.hero-content {
        margin: 5em 1em 5em 1em;
       

        h1 {
          font-size: 2em;
          font-weight: 1000;
          margin-bottom: 2em;
          text-shadow: 0.1em 0.1em 0.1em black;
         
        }
        p {
          font-size: 0.9em;
          font-weight: lighter;
          opacity: 0.7;
          text-align: center;
         
        }

        img {
          width: 50%;
          border-radius: 1em;
          box-shadow: 0.2em 0.3em .5em #242424;
          margin: 6em 1em 2em 1em;
          
         
        }
      }
    }

    div.info-container{
      margin: 1em 2em 2em 2em;

      div.portfolio{
        

        h1.header{
          font-size: 1.4em;
          color: #242424;
          //text-shadow: .03em .03em .09em #ffffff ;
        }
      }
    }
  }
}
